html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins, kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot, thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body{line-height:1; font-size:87.5%;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:''; content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing: 0;}
/****************************** Global Settings ************************************/
.fltL{float:left;}.fltR{float:right;}.clr{clear:both;}.hide{display:none;}.abs{position:absolute;}.rel{position:relative;}.italic{font-style:italic;}.no_, .no_:hover{text-decoration:none;}.inline{display:inline;}.block{display:block;}.justify{text-align:justify;}.center{text-align:center;}.middle{margin:0 auto;width:50%;}

.hlfL 		{width: 49.5%; margin-right: 25px;}
.hlfR 		{width: 47%;}
.w75		{width: 75%;}

.list 		{list-style-image: url('../img/blue_spot(small).png'); font-size: 1.25em; line-height: 1.8; margin-left: 40px;}
.input		{width: 80px;}

.pad		{padding: 14px;}
.padL		{padding-left: 10px;}
.padR		{padding-right: 10px;}
.padT		{padding-top: 10px;}
.padB		{padding-bottom: 15px;}
.margL		{margin-left: 10px;}
.margR		{margin-right: 10px;}
.margT		{margin-top: 15px;}
.margB		{margin-bottom: 15px;}

.gray 		{color: #999;}
.red 		{color: red;}
.green 		{color: #bfe167;}
.orange		{color: #ffa31f;}
.blue 		{color: #38D2F8;}
.blue2		{color: #58aad2;}

h1, h2, h3  {font-family: 'OFL Sorts Mill Goudy TT';}
h1			{font-size: 2.2em; color: #fdfdfd; margin-bottom: 15px; margin-top: 10px;}
h2			{font-size: 1.6em; color: #bfe167; margin-bottom: 10px; margin-top: 10px;}
h3			{font-size: 1.4em; color: #fdfdfd; margin-bottom: 10px;}
a			{color: #d1d1d1; text-decoration: none;}
a:active	{color: #fdfdfd; text-decoration: none;}
a:visited	{color: #999;}
a:hover		{
	color: rgb(246,56,20); 
	text-decoration: underline;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
ul 			{line-height: 1.187em;}
p 			{font-size: 1em; line-height:1.187em; padding-bottom:.75em;}
span 		{color: #fdfdfd;}
img			{-moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px;}

.alt_bg		{background-image: url('../img/alt_bg.png'); padding: 10px;}
.diff_bg	{background-image: url('../img/diff_bg.gif'); padding: 20px;}
.red_bg		{padding: 15px;}
.blue_bg	{background-image: url('../img/transparent_blue_left.png'); background-repeat: repeat-y; padding: 20px;}


/**************************** END GLOBAL SETTINGS **********************************/

/****************************** Begin Structure ************************************/

/* GLOBAL */
canvas {width: 100%; height: 95%;}
body {font-family: 'Nobile', arial, serif;; font-size: 87.5%; background-color: #191919; color: #bfe167;}
#show{top: 0; position: absolute; height: 100%; width: 100%;  }
#wrap{margin: 0 auto; min-width: 760px; max-width: 67%; max-height: 63%; min-height: 63%;background: #000;margin-top: 20px;
	border: 1px solid #6694e3;
	
	-webkit-box-shadow: #4a4a4a 0px 0px 370px;
	-moz-box-shadow: red 10px 3px 90px; 
	box-shadow: #4a4a4a 0px 0px 370px;
	
	-webkit-border-radius: 20px; 
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.tilt {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	transform: rotate(1deg);
}
.tilt_main, .tilt_nav {
	-webkit-transform: rotate(-1deg); 
	-moz-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.main {width: 100%; max-height: 50%; min-height: 250px;}

.drop{
	border: 1px solid highlight;
	-webkit-box-shadow: gray 0px 0px 20px;
	box-shadow: gray 0px 0px 20px;
}

/*HEADER*/
/*
#nav{list-style:none;margin:0 auto;width:600px;}#nav li{float:left;}#nav a * {display: none;}#nav a,#nav a .hover{height:70px;position:relative;display:block;background:url('../img/dragon-sprite.jpg') 0 0 no-repeat;}#nav a. {background-position: 0 0;width: 102px;}#nav .hl a.home:hover, #nav a.home .hover{background-position:0 -280px;width:102px;} #nav a.services{background-position:-102px -140px;width:115px;}#nav .hl a.services:hover, #nav a.services .hover {background-position:-102px -280px;}#nav a.portfolio{background-position:-217px 0;width:120px;}#nav .hl a.portfolio:hover, #nav a.portfolio .hover{background-position:-218px -280px;}#nav a.about{background-position:-337px 0;width:100px;}#nav .hl a.about:hover, #nav a.about .hover{background-position:-339px -280px;}#nav a.contact {background-position:-437px 0;width: 115px;}#nav .hl a.contact:hover, #nav a.contact .hover{background-position:-440px -280px;}
*/

#navigation {margin: 0 auto; width: 600px;}
#navigation li {float: left; width: 150px; font-size: 1.7em;}


/*FOOTER*/
#footer{margin-left: 50%; min-width: 380px; width: 34%; margin-top: -30px; height: 30px; padding: 15px; border: 1px dotted red;}

/*bottom bor*/
#bar {background: rgba(67, 130, 200, .3);-webkit-box-shadow: #bfe167 0px 0px 10px;box-shadow: #bfe167 0px 0px 10px; -moz-box-shadow: #bfe167 0px 0px 10px; /*border-top: 3px solid #bfe167;*/ bottom: 0px; font-size: 11px; height: 40px; position: fixed;
width: 100%; z-index: 1000;}
#bar_wrap {height: 30px; margin: 0px 10px 0px 10px; position: relative;}
#bar_content {padding: 3px 0px 0px 0px ;}
#menu-root {margin-top: 1px; padding-top: 6px; margin-bottom: 1px; width: 40px; height: 20px; padding: 5px;}
#print {margin-top: -34px; margin-right: 21px;}
#pdf {margin-top: -34px; margin-right: 21px;}
#menu {background: url('../img/diff_bg.gif'); border: 1px solid #666; bottom: 32px; display: none;left: 0px; padding: 5px 5px 1px 5px; position: absolute; width: 330px;font-size: 2em;}
#menu_img{margin-top: -140px; margin-right: 20px; border: 1px groove silver;}

.menu				{width: 180px; border: 1px solid #9d9da1; list-style: none;}
.sub				{width: 250px;}
.sub2				{left: 260px; margin-top: -115px;}
.menu_li			{position: relative; z-index: 9; padding: 5px;}
.menu_li:hover		{background-image: url('../img/transparent_blue_right.png');}
.menu_li img		{padding-right: 5px;}
li.folder			{margin-bottom: 10px;}		
li.folder ul		{position: absolute; left: 175px; top: 5px;}	
li.folder > ul		{left: 163px; margin-top: -40px;} 
li.folder:hover		{z-index: 10;}		
.menu ul, .menu li:hover ul ul						{display: none;}
.menu li:hover ul, .menu li:hover li:hover ul 		{display:block;}	

/******************************** End Structure ************************************/

#logo {margin-bottom: -37px; margin-left: -20px; margin-right: -20px;}

#form_email {background-color: #f5f6f9;}
input {border: #454444;}

