/*#region **** override browser elts ****/
input,
textarea {
    outline-color: #888;
}
input:focus,
textarea:focus {
    box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.45);
}
input[type=submit],
button {
	transition: all .35s ease-out;
}
input[type=submit]:hover,
input[type=color]:hover,
button:hover{
	cursor: pointer;
}
img {
	max-width: 100%;
	border-radius: 4px;
	box-shadow: 4px 3px 18px rgba(0, 0, 0, 0.4);
}
h1,h2,h3,h4,h5,h6 {
	margin: .4em 0 .6em 0;
	font-size: 1.62em; 
	letter-spacing: -0.03em;
	color: #ff6a00;
	text-shadow: 0 2px 3px #111;
}
a {
	color: hsla(200, 60%, 60%, 0.8);
	text-decoration: none;
	outline: none;
}
a:hover {
	color: hsla(200, 60%, 60%, 1);
	text-shadow: #61b0d7 0 0 6px;
}
a:visited, 
a:active {
	color: #5dafd7;
}
a:focus {
    outline: 0;
}
/*#endregion*/

/*#region Fonts */
@font-face {
	font-family: 'icomoon';
	src:url('/font/icomoon.eot');
	src:url('/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/font/icomoon.woff') format('woff'),
		url('/font/icomoon.ttf') format('truetype'),
		url('/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-github:before {
	content: "\e000";
}
.icon-home:before {
	content: "\e001";
}
.icon-facebook:before {
	content: "\e002";
}
.icon-twitter:before {
	content: "\e003";
}
.icon-music:before {
	content: "\e004";
}
.icon-google-plus:before {
	content: "\e006";
}
.icon-linkedin:before {
	content: "\e007";
}
.icon-briefcase:before {
	content: "\e00b";
}
.icon-mail:before {
	content: "\e00c";
}
.icon-youtube-sign:before {
	content: "\f166";
}
.icon-volume-mute:before {
	content: "\e00a";
}
.icon-controllernes:before {
	content: "\f2d2";
}
.icon-beaker:before {
	content: "\f0c3";
}
.icon-github-2:before {
	content: "\e008";
}
.icon-volume-medium:before {
	content: "\e005";
}
.icon-feed:before {
	content: "\e00d";
}
.icon-arrow-left:before {
	content: "\e00e";
}
.icon-folder-open:before {
	content: "\e00f";
}
.icon-soundcloud:before {
	content: "\e009";
}
.icon-user:before {
	content: "\e010";
}
.icon-phone:before {
	content: "\e011";
}
.icon-expand:before {
	content: "\e012";
}
.icon-contract:before {
	content: "\e013";
}
/*#endregion*/

/*#region ************ Utilities *************/
.clr:before, 
.clr:after {
	content: " "; 
	display: table;
}
.clr:after, 
.clrB {
	clear: both;
}
br.clr {
	display: none;
}
.lh {
	list-style-type: none;
	font-weight: 700;
	margin: 12px 0 8px 0;
	padding-left: 0;
}
.noHeaderR {
	margin-top: .55em;
}
.subHead {
	font-size: 1.15em;
	margin: .5em 0 .3em 0;
}
.opaque {
	opacity: 1;
}
.noShadow {
	box-shadow: none;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.bigBtn {
	display: block;
	margin-top: 30px;
	width: 150px;
	padding: 9px 14px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #eaeaea !important;
	background: rgba(107, 107, 107, 0.64);
	box-shadow: 0 3px 0 rgba(54, 54, 54, 0.94);
	opacity: 1;
}
.bigBtn span {
	padding-right: 10px;
	vertical-align: -1px;
}
.bigBtn:hover,
.bigBtn:focus {
	background: rgb(204, 85, 0);
	box-shadow: 0 3px 0 rgb(102, 43, 0);
}
.bigBtn:active {
	box-shadow: none;
	margin-top: 31px;
	transition: all 0s;
}
.colL .bigBtn {
	margin-left: -20px;
	text-align: center;
}
/*#endregion*/