/* Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}
ul,ol{margin-left:2.125em;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{outline-color: #888;}
input:focus,textarea:focus{box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.45);}
input[type=submit],
button {
	-webkit-transition: all .35s ease-out;
	transition:         all .35s ease-out;
}
input[type=submit]:hover,
input[type=color]:hover,
button:hover{
	cursor: pointer;
}