/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:c2fda33b2891c0d6031055d452d27867$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(player.png);}

.playerDown {width:28px; height:38px; background-position: -2px -2px}
.playerLeft {width:28px; height:38px; background-position: -2px -42px}
.playerLeft_Step {width:28px; height:38px; background-position: -2px -82px}
.playerPicked {width:28px; height:38px; background-position: -2px -122px}
.playerRight {width:28px; height:38px; background-position: -2px -162px}
.playerRight_Run1 {width:28px; height:38px; background-position: -2px -202px}
.playerRight_Run2 {width:28px; height:38px; background-position: -2px -242px}
.playerRight_Step {width:28px; height:38px; background-position: -2px -282px}
.playerUp {width:28px; height:38px; background-position: -2px -322px}
