/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:4acd818d9e5d9bfa6a4b87d582ad189e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(player.png);}

.playerD {width:28px; height:38px; background-position: -2px -2px}
.playerL {width:28px; height:38px; background-position: -32px -2px}
.playerLRed {width:28px; height:38px; background-position: -62px -2px}
.playerLStep {width:28px; height:38px; background-position: -92px -2px}
.playerLWhite {width:28px; height:38px; background-position: -2px -42px}
.playerR {width:28px; height:38px; background-position: -32px -42px}
.playerRRed {width:28px; height:38px; background-position: -62px -42px}
.playerRStep {width:28px; height:38px; background-position: -92px -42px}
.playerRWhite {width:28px; height:38px; background-position: -2px -82px}
.playerU {width:28px; height:38px; background-position: -32px -82px}
.player_picked {width:28px; height:38px; background-position: -62px -82px}
