@import '../vars';

.break-dancing-cube main {
	min-height: 38em;
}

.iframe-wrap iframe {
	background: $card-bg;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container {
	perspective: 1000px;
	perspective-origin: 50% 50%;
	font-size: 2.25em;
	margin: 65px 0 290px 360px;
	display: block;

	-webkit-box-reflect: below 165px linear-gradient(to bottom, transparent, transparent 42%, rgba(255, 255, 255, 0.5));
 }

.animate {
	animation: spinningH 5s infinite linear;
}

#cube {
	position: relative;
	margin: 0 auto;
	height: 160px;
	width: 160px;
	transform-style: preserve-3d;

	> div {
		position: absolute;
		height: 164px;
		width: 164px;
		padding: 10px;
		opacity: 0.87;
		background-position: center center;
		background-color: rgba(20, 20, 20, 0.7);

		span {
			padding-top: 52px;
			display: block;
			text-align: center;

			&.long {
				transform: rotate(41deg);
				font-size: 0.75em;
				padding: 49px 0 0 21px;
				display: block;
				letter-spacing: 3px;
			}
		}
	}

	div {
		&:nth-child(1) {
			transform: translateZ(82px);
		}

		&:nth-child(2) {
			transform: rotateY(90deg) translateZ(82px);
		}

		&:nth-child(3) {
			transform: rotateY(180deg) translateZ(82px);
		}

		&:nth-child(4) {
			transform: rotateY(-90deg) translateZ(82px);
		}

		&:nth-child(5) {
			transform: rotateX(-90deg) translateZ(82px) rotate(180deg);
		}

		&:nth-child(6) {
			transform: rotateX(90deg) translateZ(82px);
		}
	}
}

@keyframes spinningH {
	0%   {transform: rotateX(0deg) rotateY(0deg);}
	25%  {transform: rotateX(180deg) rotateY(180deg);}
	50%  {transform: rotateX(90deg) rotateY(0deg);}
	75%  {transform: rotateX(270deg) rotateY(270deg);}
	100% {transform: rotateX(360deg) rotateY(360deg);}
}
