.games .tech-used {
	margin-top: 26px;
    margin-bottom: 22px;

    .lh {
        margin-left: -30px;
    }
}

#divJonsQuest,
#divDungeon,
#divSeparate {
    img {
	    box-shadow: none;
    }
}

#divSeparate {
    img {
        width: 38px;
    }

    .bigImg {
        width: 375px;
        margin-top: 14px;
    }
}
