.games .tech-used {
	margin-top: 26px;
	margin-bottom: 22px;

	.lh {
		margin-left: -30px;
	}
}

#div-jons-quest,
#div-dungeon,
#div-separate {
	img {
		box-shadow: none;
	}
}

#div-separate {
	img {
		width: 38px;
	}

	.big-img {
		width: 375px;
		margin-top: 14px;
	}
}