.portfolio .bigBtn {
    margin-bottom: 20px;
}

.whtImg {
    float: left;
    margin-right: 15px;
}

.whtEle {
    margin-top: 70px;
}

.visit {
    float: left;
    margin-top: 25px;
}

.enlSite {
    margin-top: 25px;
    float: left;
    clear: both;
}