.portfolio .big-btn {
	margin-bottom: 20px;
}

.wht-img {
	float: left;
	margin-right: 15px;
}

.wht-ele {
	margin-top: 70px;
}

.visit {
	float: left;
	margin-top: 25px;
}

.enl-site {
	margin-top: 25px;
	float: left;
	clear: both;
}