.big-btn {
	margin-bottom: 20px;

	iron-icon[icon="icons:open-in-new"] {
		vertical-align: -6px;
	}
}

.wht-img {
	float: left;
	margin-right: 15px;
}

.wht-ele {
	margin-top: 70px;
}

.enl-site {
	margin-top: 25px;
	float: left;
	clear: both;
}