@import '../vars';

@media screen and (max-width: 1350px) {
	.main {
		padding-left: 207px;
	}
}

@media screen and (max-width: 1265px) {
	.main {
		padding-left: 215px;
	}

	.colL {
		width: 100% !important;
		margin-bottom: 0;
		max-width: 528px;
	}

	.colR {
		float: left;
		width: 100% !important;
		margin-top: 25px;
	}

	.absHover .colR {
		> div {
			width: 100%;
			max-width: 528px;
		}

		div p {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	footer a {
		margin: 0 !important;
	}

	.inFooter {
		width: 96%;
	}
}

@media screen and (max-width: 920px) {
	.main {
		padding-left: 207px;
	}
}

@media screen and (min-width: 801px) {
	.menu {
		display: none;
	}
}

@media screen and (max-width: 800px) { // vertical footer
	.page {
		padding: 0;
	}

	header {
		position: fixed;
		top: 0;
		z-index: 99999;
		width: 100%;
		float: none;
		background: #333;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);

		nav {
			text-align: left;
			border-radius: 2px !important;

			&:first-child {
				padding: 10px;
			}

			a {
				width: 100%;
				line-height: 1.35;
				display: inline;

				span {
					display: none;
				}

				i {
					display: inline;
				}
			}
		}
	}

	.hdrNav2 {
		margin-top: 22px;
		display: none;
	}

	footer {
		position: static;
		margin-top: 0;

		a {
			display: block;
			margin-bottom: 8px !important;
			font-size: 1.25em;
			text-align: right;
		}

		.footL {
			float: none;
			width: 192px;
			margin: 0 auto;
			display: block;
			padding-bottom: 30px;
		}

		.footR {
			display: none;
		}

		.name {
			text-indent: 0;
			width: 139px;
			padding-right: 6px;
		}

		.footContact {
			margin-right: 0 !important;
			margin-bottom: 25px !important;
		}
	}

	.outFooter {
		height: 375px;
		background: $cardBg;
		line-height: 1.4;

		&::before,
		&::after {
			display: none;
		}
	}

	.inFooter {
		margin-top: -4px;
	}

	.main {
		text-align: center;
		overflow: visible;
		padding-left: 0;
		margin: 80px auto 0;
		width: 90%;
		min-height: 740px;

		img {
			max-width: 100%;
		}
	}

	.colL,
	.colR {
		float: none !important;
	}

	.colL {
		display: none;
		max-width: 100%;
	}

	.home .colL,
	.music .colL {
		display: block;
	}

	.absHover .colR > div {
		display: block;
		width: 100%;
		position: static;
		margin-bottom: 20px;
		max-width: 100%;

		&:last-child {
			margin-bottom: 100px;
		}
	}

	.absHover .colR div > p {
		width: 100%;
	}

	#divDefault {
		display: none !important;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	.bigBtn {
		margin: 30px auto 0;
	}

	.enlSite {
		float: none !important;
	}

	.about {
		.colL {
			display: block;
		}

		.colR {
			margin-bottom: 85px;
		}
	}

	.playground {
		.colL {
			display: block;
		}

		.iframeWrap {
			display: none;
		}

		.container {
			margin: 110px 0 140px;
		}

		footer {
			margin-top: 85px;
		}
	}

	.dPlaygroundNav {
		a {
			margin-right: auto !important;
		}
	}
}
