{
	"multistr": true,
	"esnext": true,
	"globalstrict": true,
	"node": true,
	"globals": {
		"$": true,
		"jw": true,
		"ga": true,
		"twttr": true,
		"util": true,
		"document": true,
		"window": true,
		"scrollTo": true,
		"dispatchEvent": true,
		"Event": true,
		"CustomEvent": true,
		"addEventListener": true,
		"removeEventListener": true,
		"requestAnimationFrame": true,
		"cancelAnimationFrame": true,
		"Image": true,
		"fetch": true,
		"Router": true,
		"router": true,
		"ListCarousel": true,
		"location": true,
		"XMLHttpRequest": true,
		"onhashchange": true,
		"StarryBg": true,
		"starryBg": true,
		"BallPit": true,
		"ballPit": true,
		"pListen": true,
		"aboutController": true,
		"gamesController": true,
		"homeController": true,
		"playgroundController": true,
		"portfolioController": true
	},
	"browser": true,
	"devel": true
}