<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<staticContent>
			<!--http://stackoverflow.com/questions/9021946/add-mime-mapping-in-web-config-for-iis-express-->
			<!--http://www.iana.org/assignments/media-types/application/font-woff-->
			<mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
		</staticContent>
	</system.webServer>
</configuration>