body {
    
}
header {
	width: 220px;
}
header nav a {
    -webkit-text-stroke: 0 !important;
    text-stroke: 0 !important;
}
.canvasWrap {
	min-width: 720px;
	max-widtH: 1275px;
	padding-top: 3%;
    margin: 0 auto;
}
.canvasWrap canvas {
	/*width: 100%;*/
    margin: 0 auto;
    background: #000;
}
.gameInstructions h1 {
	margin: 45px 0;
	font-size: 1.7em;
}
.gameInstructions h2 {
	font-size: 1.32em;
}
.goals {
	width: 147px;
}
button {
	padding: 6px 5px 3px 6px;
	border: 1px inset;
	border-radius: 2px;
	background-color: #ddd;
}
button:hover {
	background-color: #eee;
}
button:active {
	border: 1px outset;
}
button span {
	font-size: 1.2em;
	margin-top: -1px;
}
.off {
	border-color: red;
	box-shadow: 0 0 8px red;
}
.off:hover {
	box-shadow: 0 0 17px red;
}
.on {
	border-color: #0ff;
	box-shadow: 0 0 8px #0ff;
}
.on:hover {
	box-shadow: 0 0 14px #0ff;
}
.resize {
    margin-top: 10px;
}
input[readonly] {
	width: 20px;
	font-size: 1em;
	background-color: transparent; 
	color: #e1e1e1; 
	text-align: center;
}
.keyAction {
	width: 63px; 
	display: inline-block;
}
.goals {
	margin-bottom: 20px;
}