@media screen and (max-width: 1350px) {
  .main {
    padding-left: 207px; } }
@media screen and (max-width: 1265px) {
  .main {
    padding-left: 215px; }

  .colL {
    width: 100% !important;
    margin-bottom: 0;
    max-width: 528px; }

  .colR {
    float: left;
    width: 100% !important;
    margin-top: 25px; }

  .absHover .colR > div {
    width: 100%;
    max-width: 528px; }
  .absHover .colR div p {
    width: 100%;
    margin-bottom: 15px; }

  footer a {
    margin: 0 !important; }

  .inFooter {
    width: 96%; } }
@media screen and (max-width: 920px) {
  .main {
    padding-left: 207px; } }
@media screen and (max-width: 800px) {
  .page {
    padding: 0; }

  header {
    position: static;
    width: 100%;
    float: none;
    margin-top: 15px; }
    header nav {
      border-radius: 2px !important;
      width: 90%;
      margin: 0 auto; }
      header nav:first-child {
        padding: 10px; }
      header nav a {
        text-align: center;
        width: 100%;
        line-height: 1.35; }
        header nav a span {
          display: none; }
        header nav a i {
          display: none; }

  .hdrNav2 {
    margin-top: 22px; }

  footer {
    position: static;
    margin-top: 0; }
    footer a {
      display: block;
      margin-bottom: 8px !important;
      font-size: 24px;
      text-align: right; }
    footer .footL {
      float: none;
      width: 192px;
      margin: 0 auto;
      display: block;
      padding-bottom: 30px; }
    footer .footR {
      display: none; }
    footer .name {
      text-indent: 0;
      width: 139px;
      padding-right: 6px; }
    footer .footContact {
      margin-right: 0 !important;
      margin-bottom: 25px !important; }

  .outFooter {
    height: 375px;
    background: rgba(51, 51, 51, 0.67);
    line-height: 1.4; }
    .outFooter::before, .outFooter::after {
      display: none; }

  .inFooter {
    margin-top: -4px; }

  .main {
    text-align: center;
    overflow: visible;
    padding-left: 0;
    margin: 25px auto 0;
    width: 90%;
    min-height: 740px; }
    .main img {
      max-width: 100%; }

  .colL,
  .colR {
    float: none !important; }

  .colL {
    display: none;
    max-width: 100%; }

  .home .colL,
  .music .colL {
    display: block; }

  .absHover .colR > div {
    display: block;
    width: 100%;
    position: static;
    margin-bottom: 20px;
    max-width: 100%; }
    .absHover .colR > div:last-child {
      margin-bottom: 100px; }

  .absHover .colR div > p {
    width: 100%; }

  #divDefault {
    display: none !important; }

  ul {
    list-style-type: none;
    padding: 0; }

  .bigBtn {
    margin: 30px auto 0; }

  .enlSite {
    float: none !important; }

  .about .colL {
    display: block; }
  .about .colR {
    margin-bottom: 85px; }

  .playground .colL {
    display: block; }
  .playground .iframeWrap {
    display: none; }
  .playground .container {
    margin: 110px 0 140px 0; }
  .playground footer {
    margin-top: 85px; }

  .dPlaygroundNav a {
    margin-right: auto !important; } }

/*# sourceMappingURL=responsive.css.map */
