body {
	background: #141a1e;
	margin: 0;
}

.btn-back {
	position: absolute;
	top: 20px;
	left: 20px;
	color: hsl(200, 60%, 60%);
	text-decoration: none;
}

.btn-back:hover {
	color: hsl(200, 60%, 65%);
	text-shadow: hsl(200, 60%, 65%) 0 0 6px;
}

.canvas-wrap {
	width: 1008px;
	margin: 75px auto 0;
}