/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:916cd2f9a3fe929b239da90f3b212760$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons.png);}

.facebook {width:16px; height:16px; background-position: -2px -2px}
.github {width:16px; height:16px; background-position: -20px -2px}
.googlePlus {width:16px; height:16px; background-position: -38px -2px}
.linkedIn {width:18px; height:18px; background-position: -56px -2px}
.twitter {width:16px; height:16px; background-position: -76px -2px}
.youtube {width:16px; height:16px; background-position: -94px -2px}
