body {
  font-family: 'Open Sans', sans-serif;
  margin: 40px 0 0 0;
  
  background: #333;
  color: #e9e9e9;
  background: -webkit-radial-gradient(50% 36%,contain,rgba(45,45,54,1),rgba(31,31,27,1));
  background: radial-gradient(closest-side at 50% 36% , #2D2D36, #1F1F1B) repeat scroll 0 0 transparent;
  
  min-height: 40em;
}
canvas {
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 26px -2px #000;
 }