.range-inputs {
	> div {
		margin: 0 0 30px;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	input {
		cursor: ew-resize;

		&:focus {
			box-shadow: none;
			outline-color: transparent;
		}
	}
}

canvas {
	margin: 20px 0;
}