@import 'vars';

/*#region **** override browser elts ****/
* {
	box-sizing: border-box;
}

body {
	padding-top: 40px;
	background: radial-gradient(ellipse at center, #45484d 0%, #000 100%) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}

input,
textarea {
	outline-color: #888;
}

input:focus,
textarea:focus {
	box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.45);
}

input[type=submit],
button {
	transition: all 0.35s ease-out;
}

input[type=submit]:hover,
input[type=color]:hover,
button:hover {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.4em 0 0.6em;
	font-size: 1.62em;
	letter-spacing: -0.03em;
	color: #ff6a00;
	text-shadow: 0 2px 3px #111;
}

a {
	color: hsl(200, 60%, 60%);
	text-decoration: none;
	outline: none;

	&:hover {
		color: hsl(200, 60%, 65%);
		text-shadow: hsl(200, 60%, 65%) 0 0 6px;
	}

	&:visited,
	&:active {
		color: hsl(200, 60%, 55%);
	}

	&:focus {
		outline: 0;
	}
}
/*#endregion*/

/*#region ************ Utilities *************/
.clr:before,
.clr:after {
	content: ' ';
	display: table;
}

.clr:after {
	clear: both;
}

br.clr {
	display: none;
}

.lh {
	list-style-type: none;
	font-weight: 700;
	margin: 12px 0 8px;
	padding-left: 0;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-bullet {
	list-style-type: none;
}

.card {
	display: inline-block;
}

.card,
.card,
.col-left,
.col-right > div,
.col-right > img,
.twitter-timeline-rendered,
.music .col-right iframe {
	background: $card-bg;
	padding: 3px 15px 5px;
	border-radius: 2px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.col-right > img,
.twitter-timeline,
.music .col-right iframe {
	padding: 0;
}

.big-btn {
	display: inline-block;
	margin-top: 10px;
	padding: 9px 14px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #eaeaea !important;
	background: rgba(107, 107, 107, 0.64);
	box-shadow: 0 3px 0 rgba(54, 54, 54, 0.94);
	opacity: 1;

	.col-left & {
		margin-left: -20px;
		text-align: center;
	}

	&:hover,
	&:focus {
		background: rgb(204, 85, 0);
		box-shadow: 0 3px 0 rgb(102, 43, 0);
	}

	&:active {
		box-shadow: none;
		margin-top: 11px;
		transition: all 0.05s;
	}

	span {
		padding-right: 10px;
		vertical-align: -1px;
	}
}
/*#endregion*/