@import 'vars';

.lh {
	list-style-type: none;
	margin: 12px 0 8px;
	padding-left: 0;
}

.col-right {
	iron-icon[icon="hardware:videogame-asset"],
	iron-icon[icon="icons:code"] {
		margin-right: 10px;
		vertical-align: -6px;
	}
}

.tech-used {
	margin-top: 26px;
	margin-bottom: 22px;

	.lh {
		margin-left: -30px;
	}
}

#div-separate {
	img {
		width: 38px;
	}

	.big-img {
		display: block;
		width: 375px;
		margin: 14px auto 0;

		@include desktop {
			margin: 14px 0 0;
		}
	}
}