@import 'vars';

main ul {
	list-style-type: none;
	padding: 0;
	line-height: 2;

	@include desktop {
		padding-left: 40px;
	}

	iron-icon {
		margin-right: 7px;
		vertical-align: -6px;
	}
}

.twitter-timeline-rendered {
	background: var(--card-bg);
	box-shadow: var(--box-shadow-2);
	border-radius: 2px;
}