@import 'vars';

.col-left {
	min-width: 361px;
	max-width: 520px;
}

img {
	float: left;
	padding-right: 15px;
	margin-bottom: -5px;
}

main ul {
	margin-top: 55px;
	list-style-type: none;
	padding: 0;
	line-height: 2;

	a:hover {
		iron-icon {
			color: $nav-link-active-color;
		}
	}

	@include desktop {
		padding-left: 40px;
	}

	iron-icon {
		margin-right: 7px;
		vertical-align: -6px;
	}
}

.twitter-timeline-rendered {
	box-shadow: var(--box-shadow-2);
	border-radius: 2px;
}