@import 'vars';

/*#region ************** Global **************/
html {
	min-width: 315px;
}

body {
	line-height: 1.25;
	font-size: 87.5%;
	font-family: 'Open Sans', Verdana, Calibri, Helvetica, Arial, sans-serif;
	color: #eaeaea;
}

.page {
	max-width: 1520px;
	margin: 0 auto;
	padding: 0 6%;
}

aside {
	transform: translateX(-100%);
	transition: all 0.3s;
	padding-top: 60px;
	height: 100%;
	width: 75%;
	min-width: 200px;
	max-width: 260px;
	position: fixed;
	left: 0;
	top: 0;
	background: #555;
	z-index: 999;

	&.active {
		transform: translateX(0);
	}

	a {
		display: block;
		font-size: 1.75em;
		padding: 10px 0 10px 20px;

		i {
			float: left;
			padding-right: 20px;
		}
	}
}
/*#endregion*/

/*#region ************** Header **************/
header {
	position: fixed;

	.menu {
		position: absolute;
		right: 21px;
		top: 13px;
		text-align: right !important;
		width: 39px;
		font-size: 0.8 !important;
	}

	nav {
		font-family: 'Open Sans Condensed', 'Verdana', sans-serif;
		font-size: 2.1em;
		text-align: center;
		//background: $cardBg;
		margin-top: 35px;
		padding: 10px;
		min-width: 165px;
		border-radius: 0 36px;
		//box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.15);

		&:first-child {
			border-radius: 43px 0;
			text-indent: 9px;
			padding-bottom: 20px;
			margin-top: 0;

			a {
				text-align: center;
				line-height: 1.1 !important;
				margin-bottom: 0;
				margin-right: 0;
			}

			i {
				float: none;
				margin-left: 0;
				padding-top: 0;
			}
		}

		a {
			&:active {
				background: transparent;
			}

			i {
				font-size: 0.6em;
				-webkit-text-stroke: 0;
				text-stroke: 0;
				display: block;
				float: right;
				margin-left: 15px;
				padding-top: 10px;
			}
		}

		ul { // Playground Nav
			list-style-type: none;
			font-size: 58%;
			width: 90%;
			margin: 10px auto 4px;
			//background: rgba(31, 31, 27, 0.6);
			padding: 10px 0;
			border-radius: 1px;

			a {
				margin-right: 0 !important;

				&:active {
					margin-bottom: 4px;
				}
			}

			#cube {
				margin: inherit;
				width: inherit;
				height: inherit;
			}
		}
	}
}

header nav a,
header nav a:visited {      // TODO: combine with above?
	text-align: right;
	color: rgba(140, 177, 24, 0.84) !important;
	-webkit-text-stroke: 1px rgba(140, 177, 24, 0.84);
	text-stroke: 1px rgba(140, 177, 24, 0.93);
	text-shadow: 0 3px 3px #000;
	display: block;
	margin-right: 18px;
	line-height: 1.2;
	transition: 0;
}

header nav a:hover,
.backNav a:hover i {
	text-shadow: 0 0 6px rgba(140, 177, 24, 1);
}

header nav a:hover i,
.home nav .icon-home,
.games nav .icon-controllernes,
.music nav .icon-music,
.playground nav .icon-beaker,
.portfolio nav .icon-briefcase,
.about nav .icon-user,
.contact nav .icon-phone {
	color: hsla(0, 70%, 56%, 1) !important;
	text-shadow: 0 3px 3px #000;
	-webkit-text-stroke: 0;
	text-stroke: 0;
}

// Second Nav
.hdrNav2 {
	margin-top: 30px;
	padding-top: 5px;

	ul a {
		margin-bottom: 4px;
		text-align: center;
	}

	.icon-controllernes {
		font-size: 0.72em;
	}
}

// Back Nav
.backNav {
	a:hover span {
		color: #8cb118 !important;
	}

	span {
		display: inline;
	}
}

.nav1 .playgroundNav li:nth-child(1) a,
.nav2 .playgroundNav li:nth-child(2) a,
.nav3 .playgroundNav li:nth-child(3) a,
.nav4 .playgroundNav li:nth-child(4) a,
.nav5 .playgroundNav li:nth-child(5) a,
.nav6 .playgroundNav li:nth-child(6) a {
	color: #ff6a00 !important;
	-webkit-text-stroke: 1px #ff6a00;
	text-stroke: 1px #ff6a00;
}

.nav1 .playgroundNav li:nth-child(1) a:hover,
.nav2 .playgroundNav li:nth-child(2) a:hover,
.nav3 .playgroundNav li:nth-child(3) a:hover,
.nav4 .playgroundNav li:nth-child(4) a:hover,
.nav5 .playgroundNav li:nth-child(5) a:hover,
.nav6 .playgroundNav li:nth-child(6) a:hover {
	text-shadow: #ff6a00 0 0 18px;
}

.dPlaygroundNav {
	display: none;
}
/*#endregion*/

/*#region *************** Main ***************/
.main {
	margin-top: 40px;
	padding-left: 215px;
}

.colL {
	float: left;
	width: 37%;
	min-width: 121px;

	ul {
		font-size: 1.15em;
	}
}

.colR {
	float: right;
	width: 58%;
	padding-bottom: 13px;

	img {
		max-width: 100%;
	}

	&.noHdr {
		margin-top: 51px;
	}

	> div {
		padding-bottom: 13px !important;
	}
}

#divDefault {
	display: block;
}
/*#endregion*/

/*#region ************** Footer **************/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;

	&::before {
		display: block;
		height: 120px;
	}

	a {
		font-size: 1.25em;
		vertical-align: -2px;
		display: inline-block;
	}

	.footL {
		float: left;

		a {
			margin: 0 0.18em;
		}
	}

	.name {
		display: inline-block;
		text-indent: -999em;
	}

	.footAbout .name {  // TODO: combine with above?
		text-indent: 0;
	}

	.icon-youtube-sign {
		font-size: 1.254em;
		vertical-align: -2px;
	}

	.footContact {
		// margin-right: 1.3em !important;
	}

	.footR {
		float: right;
		color: #aaa;
	}
}

.outFooter {
	position: relative;
	bottom: -26px;
	margin-top: -94px;
	width: 100%;
	height: 28px;
	padding: 20px 0 47px;
	font-size: 127%;
	background: rgba(58, 57, 58, 0.6);
	border-top: 1px solid rgb(70, 69, 70);

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		background: rgba(50, 49, 50, 0.78);
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&::before { // bottom of stack
		background: rgba(50, 49, 50, 0.45);
		top: -20px;
		height: 88px;
	}

	&::after {
		top: -10px;
		height: 78px;
	}
}

.inFooter {
	width: 70%;
	margin: 0 auto;
}
/*#endregion*/

/*#region ********** Page Templates **********/
.pageFullW {
	.page {
		max-width: 98%;
	}

	header {
		margin-right: 0;

		nav:first-child {
			text-indent: -8px;
			margin: 18px 0 20px;
			padding: 4px 0 6px;
			border-radius: 25px 0;
			width: 105px;
		}
	}

	.main {
		margin: 0 auto inherit;
		padding: 3px 26px 26px 28px;

		.titleHeader {
			margin-top: 8px;
		}
	}

	canvas {
		box-shadow: 0 0 26px -2px #000;
	}
}

.absHover {
	.colR {
		> div {
			position: absolute;
			display: none;
			width: 44%;
			max-width: 728px;
		}

		div > p {
			margin-bottom: 12px;
		}

		#divDefualt {
			display: block;
		}
	}
}
/*#endregion*/
