@import 'vars';

/*#region ************** Global **************/
html {
	min-width: 315px;
}

body {
	line-height: 1.25;
	font-size: 87.5%;
	font-family: 'Open Sans', Verdana, sans-serif;
	color: #eaeaea;
}

.page {
	height: 100%;
	max-width: 1520px;
	margin: 0 auto;
	padding: 0 6%;
}

aside {
	transform: translateX(-100%);
	transition: all 0.3s;
	padding-top: 60px;
	height: 100%;
	width: 75%;
	min-width: 200px;
	max-width: 260px;
	position: fixed;
	left: 0;
	top: 0;
	background: $mobile-nav-bg;
	z-index: 999;

	&.active {
		transform: translateX(0);
	}

	a {
		font-family: 'Open Sans Condensed', Verdana, sans-serif;
		display: block;
		font-size: 1.75em;
		padding: 10px 0 10px 20px;
		text-align: left !important;

		i {
			float: left;
			padding-right: 20px;
		}
	}

	.playground-nav {
		margin-left: 25px;

		a {
			font-size: 1.2em;
		}
	}
}
/*#endregion*/

/*#region ************** Header **************/
header {
	position: fixed;

	.menu {
		position: absolute;
		right: 21px;
		top: 13px;
		text-align: right !important;
		width: 39px;
		font-size: 0.65 !important;
	}

	nav {
		font-family: 'Open Sans Condensed', Verdana, sans-serif;
		font-size: 2.1em;
		text-align: center;
		margin-top: 35px;
		padding: 10px;
		min-width: 165px;

		&:first-child {
			text-indent: 9px;
			padding-bottom: 20px;
			margin-top: 0;

			a {
				text-align: center;
				line-height: 1.1 !important;
				margin-bottom: 0;
				margin-right: 0;
			}

			i {
				float: none;
				margin-left: 0;
				padding-top: 0;
			}
		}

		a {
			&:active {
				background: transparent;
			}

			i {
				font-size: 0.6em;
				-webkit-text-stroke: 0;
				text-stroke: 0;
				display: block;
				float: right;
				margin-left: 15px;
				padding-top: 10px;
			}
		}

		ul { // Playground Nav
			list-style-type: none;
			font-size: 58%;
			width: 90%;
			margin: 10px auto 4px;
			padding: 10px 0;
			border-radius: 1px;

			a {
				margin-right: 0 !important;

				&:active {
					margin-bottom: 4px;
				}
			}

			#cube {
				margin: inherit;
				width: inherit;
				height: inherit;
			}
		}
	}
}

header nav a,
aside a,
header nav a:visited,
aside a:visited {      // TODO: combine with above?
	text-align: right;
	color: rgba(140, 177, 24, 0.84) !important;
	-webkit-text-stroke: 1px rgb(140, 177, 24);
	text-stroke: 1px rgb(140, 177, 24);
	text-shadow: 0 3px 3px #000;
	display: block;
	margin-right: 18px;
	line-height: 1.2;
	transition: none;
}

header nav a:hover {
	text-shadow: 0 0 6px rgba(140, 177, 24, 1);
}

header nav a:hover i,
.home nav .icon-home,
.games nav .icon-controllernes,
.games aside .icon-controllernes,
.music nav .icon-music,
.music aside .icon-music,
.playground nav .icon-beaker,
.playground aside .icon-beaker,
.portfolio nav .icon-briefcase,
.portfolio aside .icon-briefcase,
.about nav .icon-user,
.about aside .icon-user,
.contact nav .icon-phone,
.contact aside .icon-phone {
	color: hsla(0, 70%, 56%, 1) !important;
	text-shadow: 0 3px 3px #000;
	-webkit-text-stroke: 0;
	text-stroke: 0;
}

// Second Nav
.hdr-nav2 {
	margin-top: 30px;
	padding-top: 5px;

	ul a {
		margin-bottom: 4px;
		text-align: center;
	}

	.icon-controllernes {
		font-size: 0.72em;
	}
}

.nav1 .playground-nav li:nth-child(1) a,
.nav2 .playground-nav li:nth-child(2) a,
.nav3 .playground-nav li:nth-child(3) a,
.nav4 .playground-nav li:nth-child(4) a,
.nav5 .playground-nav li:nth-child(5) a,
.nav6 .playground-nav li:nth-child(6) a {
	color: #ff6a00 !important;
	-webkit-text-stroke: 1px #ff6a00;
	text-stroke: 1px #ff6a00;
}

.nav1 .playground-nav li:nth-child(1) a:hover,
.nav2 .playground-nav li:nth-child(2) a:hover,
.nav3 .playground-nav li:nth-child(3) a:hover,
.nav4 .playground-nav li:nth-child(4) a:hover,
.nav5 .playground-nav li:nth-child(5) a:hover,
.nav6 .playground-nav li:nth-child(6) a:hover {
	text-shadow: #ff6a00 0 0 18px;
}

.hdr-nav2 .playground-nav-wrap {
	height: 0;
	opacity: 0;
	visibility: hidden;
	will-change: height, opacity;
	transition: 0.25s ease;

	&.visible {
		height: 92px;
		visibility: visible;
		opacity: 1;
	}
}
/*#endregion*/

/*#region *************** Main ***************/
main {
	padding-left: 215px;
	height: 100%;
}

.col-left {
	float: left;
	width: 37%;
	min-width: 121px;

	ul {
		font-size: 1.15em;
	}
}

.col-right {
	float: right;
	width: 58%;
	padding-bottom: 13px;

	img {
		max-width: 100%;
	}

	> div {
		padding-bottom: 13px !important;
	}
}

#div-default {
	display: block;
}
/*#endregion*/

/*#region ********** Page Templates **********/
.carousel-list-page {
	.col-right {
		> div {
			opacity: 0;
			visibility: hidden;
			transition: 450ms opacity; // in
			position: absolute;
			width: 44%;
			max-width: 728px;

			&.fade-in {
				opacity: 1 !important;
				visibility: visible !important;
				transition: 300ms opacity; // out
			}
		}

		div > p {
			margin-bottom: 12px;
		}
	}
}

#starry-canvas,
.ball-pit canvas {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	margin: 10px 0;
	border-radius: 2px;
}

.range-inputs {
	margin-top: 10px;
}
/*#endregion*/