@import 'vars';

//-- Override Defaults --\\
* {
	box-sizing: border-box;
}

html {
	min-width: 315px;
	background-color: $html-background;
}

body {
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-top: 40px;
	line-height: 1.25;
	font-size: 87.5%;
	font-family: 'Open Sans', sans-serif;
	color: $txt-color;

	// https://codepen.io/sdthornton/pen/wBZdXq
	--box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--mobile-nav-bg: $card-background;
}

h1,
h2,
h3,
h4 {
	margin: 0.4em 0 0.6em;
	font-size: 1.75em;
	font-weight: 300;
	color: $header-txt-color;
	text-shadow: 0 2px 3px #212121;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	color: $link-color;
	text-decoration: none;
	outline: none;
	cursor: pointer;

	&:hover {
		color: $link-color-hover;
		text-shadow: $link-color-hover 0 0 6px;
	}

	&:active {
		color: $link-color-active;
	}

	&:focus {
		outline: 0;
	}
}

button {
	transition: all 0.35s ease-out;
	cursor: pointer;
}

input {
	outline-color: #888;

	&:focus {
		box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.45);
	}
}

// avoid FOUC
iron-icon {
	display: inline-block;
	width: 24px;
}

//-- Utilities --\\
.card {
	display: inline-block;
	background: $card-background;
	box-shadow: var(--box-shadow-2);
	border-radius: 2px;
	padding: 3px 25px 5px;
}

.card-light {
	border-radius: 2px;
	box-shadow: var(--box-shadow-2);
}

.caption {
	color: $gray;
}

.big-btn {
	display: inline-block;
	margin: 10px auto;
	padding: 9px 14px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.2em;
	background: rgba(107, 107, 107, 0.64);
	box-shadow: 0 3px 0 rgba(54, 54, 54, 0.94);
	opacity: 1;
	transition: all 0.19s;
	color: $yellow;

	// &.alt {
	// 	color: $white !important;

	// 	&:hover,
	// 	&:focus {
	// 		box-shadow: 0 3px 0 $white;
	// 	}
	// }

	&:hover,
	&:focus {
		color: $yellow;
		box-shadow: 0 3px 0 $yellow;
		text-shadow: none;
	}

	&:active {
		box-shadow: none !important;
		transform: translateY(3px);
	}

	span {
		padding-right: 10px;
		vertical-align: -1px;
	}
}

//-- Layout --\\
.page {
	height: 100%;
	max-width: 1520px;
	margin: 0 auto;
	padding: 0;
}

header {
	position: fixed;
	z-index: 99999;
	top: 0;
	width: 100%;
	background: $card-background;

	.menu {
		position: absolute;
		display: flex;
		top: 0;
		right: 0;
		padding: 16px 20px 15px 16px;
		width: auto;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	nav {
		font-size: 1.57em;
		text-align: left;
		margin-top: 35px;
		padding: 15px 20px;
		min-width: 165px;

		&:first-child {
			margin-top: 0;
			height: 55px;

			a {
				display: inline;
				text-align: center;
				line-height: 1.1 !important;
				margin-bottom: 0;
				margin-right: 0;
			}
		}

		&.hdr-nav2 iron-icon {
			font-size: 0.6em;
			margin-left: 15px;
		}

		ul { // Playground Nav
			list-style-type: none;
			font-size: 62%;
			width: 90%;
			margin: 0 auto;
			padding: 0;
			border-radius: 1px;

			a {
				margin-right: 0 !important;

				&:active {
					margin-bottom: 4px;
				}
			}
		}

		a {
			width: 100%;
			color: $nav-link-color;

			&:hover {
				color: $nav-link-color;
				text-shadow: 0 0 6px $nav-link-color;
			}
		}
	}
}

aside {
	transform: translateX(-100%);
	transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
	padding-top: 60px;
	height: 100%;
	width: 75%;
	min-width: 200px;
	max-width: 260px;
	position: fixed;
	left: 0;
	top: 0;
	background: $card-background;
	z-index: 999;
	will-change: transform;

	&.active {
		transform: translateX(0);
	}

	a {
		display: block;
		font-size: 1.45em;
		padding: 10px 0 10px 20px;
		text-align: left !important;
		color: $nav-link-color;

		&:hover {
			color: $nav-link-color;
			text-shadow: 0 0 6px $nav-link-color;

		}
	}

	iron-icon {
		float: left;
		margin-right: 20px;
		margin-top: 5px;
	}

	.playground-nav {
		margin-left: 25px;

		a {
			font-size: 1.2em;
		}
	}
}

header nav a,
aside a,
header nav a:visited,
aside a:visited {
	text-align: right;
	display: block;
	margin-right: 18px;
	line-height: 1.7;
	transition: none;
}

header nav a:hover iron-icon,
aside a:hover iron-icon,
.home nav .icon-home,
.games nav .icon-controllernes,
.games aside .icon-controllernes,
.playground nav .icon-beaker,
.playground aside .icon-beaker,
.portfolio nav .icon-briefcase,
.portfolio aside .icon-briefcase,
.about nav .icon-user,
.about aside .icon-user {
	color: $nav-link-active-color;
}

// Second Nav
.hdr-nav2 {
	display: none;
	margin-top: 20px;

	ul a {
		margin-bottom: 4px;
		text-align: center;
	}

	.icon-controllernes {
		font-size: 0.72em;
	}
}

.nav1 .playground-nav li:nth-child(1) a,
.nav2 .playground-nav li:nth-child(2) a,
.nav3 .playground-nav li:nth-child(3) a {
	color: $nav-link-active-color !important;
	-webkit-text-stroke: 1px $nav-link-active-color;
	text-stroke: 1px $nav-link-active-color;
}

.nav1 .playground-nav li:nth-child(1) a:hover,
.nav2 .playground-nav li:nth-child(2) a:hover,
.nav3 .playground-nav li:nth-child(3) a:hover {
	cursor: default;
	text-shadow: none;
}

.hdr-nav2 .playground-nav-wrap {
	height: 0;
	opacity: 0;
	visibility: hidden;
	will-change: height, padding, opacity;
	transition: 0.25s ease;

	&.visible {
		padding: 10px 0 10px 40px;
		height: 92px;
		visibility: visible;
		opacity: 1;
	}
}

main {
	text-align: center;
	padding-left: 0;
	width: 93%;
	height: 100%;
	margin: 40px auto 0;
	transition: opacity 0.3s cubic-bezier(0, 0, 0.3, 1);

	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}

	&.leftbar-active {
		opacity: 0.5;
	}
}

.col-left {
	min-width: 121px;

	ul {
		font-size: 1.15em;
	}
}

.col-right {
	margin-top: 25px;
	padding-bottom: 13px;

	img {
		max-width: 100%;
	}

	> div {
		padding-bottom: 13px !important;
	}
}

// Page template
.carousel-list-page {
	.col-left {
		display: none;
	}

	.col-right {
		margin-top: 0;

		> div {
			opacity: 1;
			visibility: visible;
			transition: 450ms opacity; // in
			position: static;
			width: 100%;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 100px;
			}

			&.fade-in {
				opacity: 1 !important;
				visibility: visible !important;
				transition: 300ms opacity; // out
			}
		}
	}
}

#div-default {
	display: none;
}

// > Mobile
@include desktop {
	ul {
		list-style-type: inherit;
		padding-left: 20px;
	}

	.page {
		padding: 0 6%;
	}

	header {
		top: auto;
		width: auto;
		background: none;

		nav {
			text-align: center;
			padding: 15px 15px 0 0;

			&:first-child {
				text-indent: 9px;
				padding-bottom: 20px;
			}
		}

		.menu {
			display: none !important;
		}
	}

	.hdr-nav2 {
		display: block;
	}

	main {
		text-align: left;
		padding-left: 230px;
		width: 100%;
		margin: 0;
	}

	.col-left {
		float: left;
		width: 37%;
	}

	.col-right {
		float: right;
		width: 58%;
		margin-top: 0;
	}

	.carousel-list-page {
		.col-left {
			display: block;
		}

		.col-right > div {
			opacity: 0;
			visibility: hidden;
			width: 44%;
			position: absolute;
			max-width: 728px;

			&:last-child {
				margin-bottom: 20px;
			}
		}
	}

	#div-default {
		display: block;
	}
}

// > Mobile and <= Tablet
@include tablet {
	.col-left {
		width: 100%;
		margin-bottom: 0;
	}

	.col-right {
		width: 100%;
		margin-top: 25px;
	}

	.carousel-list-page .col-right {
		margin-top: 25px;

		> div {
			width: 100%;
			max-width: 490px;
		}
	}
}