canvas {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.color-wrap {
	margin-top: 25px;
}

label {
	cursor: pointer;
	margin-right: 15px;
}

input {
	cursor: pointer;
	vertical-align: -2px;

	&:focus {
		box-shadow: none;
		outline-color: transparent;
	}

	&:last-child {
		margin-right: 0;
	}
}