label {
	cursor: pointer;
	margin-right: 15px;
}

input {
	cursor: pointer;
	vertical-align: -2px;

	&:focus {
		box-shadow: none;
		outline-color: transparent;
	}

	&:last-child {
		margin-right: 0;
	}
}

canvas {
	margin: 20px 0;
}