$card-bg: #292f33;
$mobile-nav-bg: lighten($card-bg, 6%);

// https://codepen.io/sdthornton/pen/wBZdXq
$box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

@mixin mobile {
	@media (max-width: 800px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 801px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 1265px) {
		@content;
	}
}